#info span {
    padding: 5px;
}
html, body, #root {
    height:100%;
}

form #amount {
    width: 10%;
}

img.header-image {
    margin-top: -10px;
    margin-bottom: -5px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

a {
    color: #fcd34d !important;
}

.nx {
    color: #fcd34d !important;
}

.text-red {
    color: red;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.nav-txt {
    color: #ffc107!important;
}

footer {
    border-width: 5px!important;
    text-align: center;
    bottom: 0;
    left: 0;
    position: "fixed";
    color: #fcd34d !important;
    border-width: 5px !important;
}

.bg-custom-card {
    background-color: transparent;
    border: 2px solid #4c4b4b;
}

.tr-border td {
    border-top: 2px solid #2f373f;
    color: white!important;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.7)  !important;
}

.vl {
    border-left: 1px solid rgba(255, 255, 255, 0.3)  !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.15);
}

#tx .table td, .table th {
    padding: 0.7rem;
    vertical-align: top;
}

.bad {
    color: red;
}

code, .text-monospace {
    font-family: "Source Code Pro", monospace !important;
}

.text-dev {
    font-family: "Ubuntu", sans-serif !important;
}

.url a {
    text-decoration: none!important;
    word-break: break-all;
}

.url a:hover {
    text-decoration: underline!important;
}

.form-control:focus {
    border-color: #fcd34d;
    box-shadow: 0 0 0 0.05rem rgba(255, 232, 57, 0.897);
}

.cursor {
    cursor: pointer;
}

.td-fit {
    width: 30%;
    white-space: nowrap
}

.td-min {
    width: 1%;
    white-space: nowrap
}

.hidden {
    visibility: hidden;
}

.va {
    vertical-align: middle;
}

.outgoing {
    color: red !important;
}

.incoming {
    color: #fcd34d !important;
}

.page-item .page-link {
    background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    border-color: #282d33;
}

.page-item .page-link:hover {
    background: black !important;
    border-color: #282d33;
}

.active .page-link {
    background: #fcd34d !important;
    border-color: #282d33;
    color: #282d33 !important 
}

.active .page-link:hover {
    background: #fcd34d !important;
    border-color: #282d33;
    color: #282d33 !important 
}

.page-link:focus {
    box-shadow: none !important;
}